
Hello <%= current_user.email %>!

<div>
  <%= link_to 'Add Page tab', "https://www.facebook.com/dialog/pagetab?app_id=#{Rails.application.secrets.facebook_api_key}&redirect_uri=http://localhost:3000", target: '_blank' %>

</div>

<div>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
</div>